{# templates/upload/upload_form.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
  <h1>Upload a CSV File</h1>
  <hr>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-primary">Upload</button>
  <a href="/" class="btn btn-success">Back to Overview</a>
  {{ form_end(form) }}

{% endblock %}

