{# templates/upload/upload_form.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
  <h1>Upload a CSV File</h1>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-primary">Upload</button>
  {{ form_end(form) }}

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

{% endblock %}

